<p>1er exo </p>

<ul>
    <li> nom : {{varDynamique}}</li>
    <li> Age :{{cadeau}}</li>
    <li> Hobbies </li>
        <ul>
            <li> soit : {{ hobby.hobbyUn }}</li>
            <li> soit : {{ hobby.hobbyDeux }}</li>
            <li> soit : {{ hobby.hobbyTrois }}</li>
        </ul>
</ul>

<h1>Editer</h1>
<form action="                   ">
    <div><label for=""></label><input type="text"></div>
    <div><label for=""></label><input type="text"></div>
    <div><label for=""></label><input type="text"></div>
    <div><label for=""></label><input type="text"></div>
    <div><label for=""></label><input type="text"></div>
    <div><label for=""></label><input type="text"></div>
</form>